# Server Configuration
PORT=3000
NODE_ENV=production
SERVER_URL=http://localhost

# JWT Configuration
JWT_SECRET=your-jwt-key-change-in-environment
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS Configuration
CORS_ORIGIN=http://localhost

#Google OAUTH(optional): fill in if using google login
# Get these from: https://console.cloud.google.com/
GOOGLE_CLIENT_ID=your-google-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

#frontend conf
VITE_API_URL=/api
VITE_SOCKET_URL=